* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-color: #f4efef;
}

 header img, 
 main img  {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-family: "montserrat", sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

}

.title > div {
    border: solid 3px black;
}

.title > p {
    width: 60%;
    color: #021b47;
}

.title h2 {
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
}

.produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.produto {
    width: 55%;
    height: 231px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: solid 2px #cb8c7c;
    padding: 32px;
    border-radius: 500px;
}

.produto img {
    
}

.produto h2 {
    color: #CB8C7C;
    text-shadow: 1.2374399900436401px 1.2374399900436401px 1.75px rgba(203, 140, 124, 0.40);
    font-family: "Prata", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 39px; 
}

.produto p {
    color: #021B47;
    text-shadow: 0.7837129831314087px 0.7837129831314087px 1.1083400249481201px rgba(2, 27, 71, 0.40);
    font-family: "Montserrat", sans-serif;
    font-size: 17.733px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;     
}

.produto a {
    color: #CB8C7C;
    text-shadow: 0.7820240259170532px 0.7820240259170532px 1.1059499979019165px rgba(203, 140, 124, 0.40);
    font-family: "Montserrat", sans-serif;
    font-size: 17.695px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.feedbacks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.cards {
    display: flex;
    height: 500px;
    gap: 12px;
    margin-top: 60px;
}

.card {

}

.card h2 {
    color: #CB8C7C;
    text-shadow: 1.82669997215271px 1.82669997215271px 2.5833399295806885px rgba(206, 138, 115, 0.40);
    font-family: "Prata", sans-serif;
    font-size: 41.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px;    
}

.card p {
    color: #021B47;
    text-shadow: 0.883882999420166px 0.883882999420166px 1.25px rgba(2, 27, 71, 0.40);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    max-width: 605px;
    height: 300px;
    
    background-position: center;
    padding: 10px;
}



.cardLeft p{
    background-image: url(./assets/balaoleft.svg);
    background-repeat: no-repeat;
}

.cardLeft img {
    margin-left: 25%;
}

.cardRigth p{
    background-image: url(./assets/balaorigth.svg);
}

.cardRigth img {
    margin-left: 40%;
}

footer {
   margin-top: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-bottom: 32px;
}

footer h2 {
    color: #CF8C95;
    text-align: center;
    text-shadow: 2.062390089035034px 2.062390089035034px 2.9166600704193115px rgba(207, 140, 149, 0.40);
    font-family: "Prata", sans-serif;
    font-size: 46.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;    
}

footer a {
    display: flex;
    background-color: #f2d3d0;
    width: 200px;
    border-radius: 20px;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #021B47 ;
}

footer img {
    width: 25px;
}

@media (max-width:1200px) {
    .produto {
        width: 70%;
    }



 

}

@media (max-width:1000px) {
    .produto {
        width: 80%;
    }

    .produto h2 {
        font-size: 24px;
    }

    .produto p {
        font-size: 14px;
    }

    .produto a {
        font-size: 14px;
    }

}

@media (max-width:800px) {
    .produto {
        width: 95%;
    }
}